complete-flow.json
[
    {
        "id": "flow_automation",
        "type": "tab",
        "label": "Automation Logic",
        "disabled": false,
        "info": "Motion-based lamp automation"
    },
    {
        "id": "dashboard_tab",
        "type": "tab",
        "label": "Dashboard Monitoring",
        "disabled": false,
        "info": "Dashboard UI for monitoring and control"
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Mosquitto Broker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered_client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "temp_group",
        "type": "ui_group",
        "name": "Temperature Monitoring",
        "tab": "dashboard_ui_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "motion_group",
        "type": "ui_group",
        "name": "Motion Detection",
        "tab": "dashboard_ui_tab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "lamp_group",
        "type": "ui_group",
        "name": "Smart Lamp Control",
        "tab": "dashboard_ui_tab",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dashboard_ui_tab",
        "type": "ui_tab",
        "name": "Smart Home Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "motion_in_auto",
        "type": "mqtt in",
        "z": "flow_automation",
        "name": "Motion Sensor",
        "topic": "home/sensor/motion",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [["parse_motion", "motion_debug_auto"]]
    },
    {
        "id": "parse_motion",
        "type": "json",
        "z": "flow_automation",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 100,
        "wires": [["motion_switch"]]
    },
    {
        "id": "motion_switch",
        "type": "switch",
        "z": "flow_automation",
        "name": "Motion?",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "1", "vt": "num"},
            {"t": "eq", "v": "0", "vt": "num"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 100,
        "wires": [["set_on"], ["set_off"]]
    },
    {
        "id": "set_on",
        "type": "change",
        "z": "flow_automation",
        "name": "ON",
        "rules": [{"t": "set", "p": "payload", "pt": "msg", "to": "ON", "tot": "str"}],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 80,
        "wires": [["lamp_cmd_auto"]]
    },
    {
        "id": "set_off",
        "type": "change",
        "z": "flow_automation",
        "name": "OFF",
        "rules": [{"t": "set", "p": "payload", "pt": "msg", "to": "OFF", "tot": "str"}],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 120,
        "wires": [["lamp_cmd_auto"]]
    },
    {
        "id": "lamp_cmd_auto",
        "type": "mqtt out",
        "z": "flow_automation",
        "name": "Lamp Command",
        "topic": "home/actuator/lamp/command",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "motion_debug_auto",
        "type": "debug",
        "z": "flow_automation",
        "name": "Motion Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 140,
        "wires": []
    },
    {
        "id": "temp_in_dash",
        "type": "mqtt in",
        "z": "dashboard_tab",
        "name": "Temp In",
        "topic": "home/sensor/temperature",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [["temp_parse_dash"]]
    },
    {
        "id": "temp_parse_dash",
        "type": "json",
        "z": "dashboard_tab",
        "name": "Parse",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 80,
        "wires": [["temp_extract", "temp_debug_dash"]]
    },
    {
        "id": "temp_extract",
        "type": "change",
        "z": "dashboard_tab",
        "name": "Extract Value",
        "rules": [{"t": "set", "p": "payload", "pt": "msg", "to": "payload.value", "tot": "msg"}],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 80,
        "wires": [["temp_gauge"]]
    },
    {
        "id": "temp_gauge",
        "type": "ui_gauge",
        "z": "dashboard_tab",
        "name": "Temperature",
        "group": "temp_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "temp_debug_dash",
        "type": "debug",
        "z": "dashboard_tab",
        "name": "Temp Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "motion_in_dash",
        "type": "mqtt in",
        "z": "dashboard_tab",
        "name": "Motion In",
        "topic": "home/sensor/motion",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [["motion_parse_dash"]]
    },
    {
        "id": "motion_parse_dash",
        "type": "json",
        "z": "dashboard_tab",
        "name": "Parse",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 200,
        "wires": [["motion_extract", "motion_debug_dash"]]
    },
    {
        "id": "motion_extract",
        "type": "change",
        "z": "dashboard_tab",
        "name": "Extract Status",
        "rules": [{"t": "set", "p": "payload", "pt": "msg", "to": "payload.status", "tot": "msg"}],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [["motion_text"]]
    },
    {
        "id": "motion_text",
        "type": "ui_text",
        "z": "dashboard_tab",
        "group": "motion_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Motion Status",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "motion_debug_dash",
        "type": "debug",
        "z": "dashboard_tab",
        "name": "Motion Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "lamp_status_in_dash",
        "type": "mqtt in",
        "z": "dashboard_tab",
        "name": "Lamp Status In",
        "topic": "home/actuator/lamp/status",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [["lamp_status_parse_dash"]]
    },
    {
        "id": "lamp_status_parse_dash",
        "type": "json",
        "z": "dashboard_tab",
        "name": "Parse",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 320,
        "wires": [["lamp_status_extract", "lamp_status_debug"]]
    },
    {
        "id": "lamp_status_extract",
        "type": "change",
        "z": "dashboard_tab",
        "name": "Extract State",
        "rules": [{"t": "set", "p": "payload", "pt": "msg", "to": "payload.state", "tot": "msg"}],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 320,
        "wires": [["lamp_status_text"]]
    },
    {
        "id": "lamp_status_text",
        "type": "ui_text",
        "z": "dashboard_tab",
        "group": "lamp_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Lamp Status",
        "label": "Current Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "lamp_status_debug",
        "type": "debug",
        "z": "dashboard_tab",
        "name": "Lamp Status Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "lamp_switch",
        "type": "ui_switch",
        "z": "dashboard_tab",
        "name": "Lamp Switch",
        "label": "Lamp Control",
        "tooltip": "",
        "group": "lamp_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 270,
        "y": 400,
        "wires": [["lamp_cmd_dash"]]
    },
    {
        "id": "lamp_cmd_dash",
        "type": "mqtt out",
        "z": "dashboard_tab",
        "name": "Send Lamp Cmd",
        "topic": "home/actuator/lamp/command",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 470,
        "y": 400,
        "wires": []
    }
]
